* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

html.freeze {
  overflow: hidden;
  pointer-events: none;
}

html.freeze .cookies-info-container {
  pointer-events: auto;
}

body {
  background-color: #001d3f;
}

section {
  scroll-margin-top: 82px;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  background-color: #001d3f;
  top: 0;
  padding: 20px 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dc143c;
  z-index: 10;
}

.logo {
  text-decoration: none;
  color: #dc143c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo i {
  margin-right: 5px;
  font-size: 24px;
}

.logo p {
  line-height: 10px;
}

.logo-title {
  height: 30px;
  width: 140px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.school-type {
  font-size: 10px;
}

.school-title {
  font-weight: bold;
  font-size: 14px;
}

.menu-icon-container {
  position: relative;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu-icon-element,
.menu-icon-element::before,
.menu-icon-element::after {
  position: absolute;
  content: '';
  background-color: #dc143c;
  width: 100%;
  height: 4px;
  border-radius: 25px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu-icon-element::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-icon-element::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-icon-container.active .menu-icon-element {
  background-color: transparent;
}

.menu-icon-container.active .menu-icon-element::before {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.menu-icon-container.active .menu-icon-element::after {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.nav-items {
  position: absolute;
  width: 80%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #001d3f;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.nav-items.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-item {
  width: 100%;
  text-align: center;
  color: #dc143c;
  text-decoration: none;
  padding: 15px 0;
  margin: 15px 0;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  background-color: #001832;
  color: #cb032b;
}

.header {
  position: relative;
  height: 90vw;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/27/18/54/technology-1283624_960_720.jpg");
  background-position: top;
  background-size: cover;
  z-index: 0;
}

.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 24, 50, 0.85);
}

.header-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  font-size: 12px;
  -webkit-animation: header-animation 1.5s forwards;
          animation: header-animation 1.5s forwards;
  opacity: 0;
  top: -10px;
}

.header-text p {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

@-webkit-keyframes header-animation {
  from {
    opacity: 0;
    top: -150px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes header-animation {
  from {
    opacity: 0;
    top: -150px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

h1 {
  color: #fff;
}

h2 {
  font-size: 32px;
  position: relative;
  color: #dc143c;
  margin-bottom: 20px;
}

h2::before {
  position: absolute;
  content: '';
  background-color: #dc143c;
  width: 4px;
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  border-radius: 50px;
}

p {
  color: #fff;
  font-size: 14px;
  text-align: justify;
}

p span {
  font-weight: bold;
  text-transform: uppercase;
}

section {
  padding: 0 12.5%;
  margin: 40px 0;
}

section p {
  margin-bottom: 10px;
}

.qualified-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qualified-box {
  border: 1px solid #dc143c;
  margin: 25px 0;
  padding: 25px;
  position: relative;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.qualified-box h3 {
  position: absolute;
  padding: 0 15px;
  background-color: #001d3f;
  color: #fff;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.qualified-box .qualified-title {
  color: #dc143c;
  font-weight: bold;
  text-align: center;
}

.recruitment {
  position: relative;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/02/05/16/19/offices-1181385_960_720.jpg");
  background-size: cover;
  background-position: center;
  padding: 25px 12.5%;
  z-index: 0;
}

.recruitment h2 {
  color: #fff;
}

label {
  display: block;
  padding: 5px 0;
}

.recruitment-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 24, 50, 0.85);
  z-index: -5;
}

.recruitment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.recruitment-btn {
  margin: 7.5px 0;
}

.btn {
  background-color: #dc143c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #cb032b;
}

.contact-info {
  background-color: #dc143c;
  padding: 25px;
  border-radius: 10px;
}

.contact-info i {
  margin-right: 5px;
}

.contact-info span {
  font-weight: normal;
  text-transform: lowercase;
}

.contact-form {
  margin: 25px 0;
}

.contact-form h3 {
  color: #fff;
}

.contact-form .btn {
  width: 100%;
  margin-top: 10px;
}

input,
textarea {
  position: relative;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
  border: 1px solid #dc143c;
  border-radius: 5px;
  background-color: #001832;
  color: #fff;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
}

.form-element {
  margin: 10px 0;
}

.form-element-text {
  position: absolute;
  background-color: #001d3f;
  color: #fff;
  z-index: 1;
  margin: 3px 0 0 10px;
  padding: 0 10px;
  font-size: 12px;
  margin-top: -10px;
}

.footer {
  width: 100%;
  padding: 10px;
  margin-top: 75px;
  background-color: #dc143c;
}

.footer p {
  color: #fff;
  text-align: center;
}

.recruitment-form-container {
  display: none;
  position: fixed;
  z-index: 100;
  width: 80%;
  max-height: 95%;
  max-width: 1000px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 25px;
  border-radius: 15px;
  background-color: #001d3f;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.75);
  pointer-events: auto;
  overflow-x: hidden;
}

.recruitment-form-container.show {
  display: block;
}

.close-icon-container {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.close-icon-element,
.close-icon-element::before,
.close-icon-element::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  top: 0;
  background-color: #fff;
}

.close-icon-element {
  background-color: transparent;
}

.close-icon-element::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-icon-element::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.recruitment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.recruitment-header h3 {
  color: #fff;
}

.recruitment-content {
  width: 90%;
  margin: 25px auto;
}

.recruitment-footer {
  margin-top: 25px;
}

label {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
}

.cookies-info-container {
  display: none;
  position: fixed;
  width: 100%;
  padding: 25px;
  background-color: #dc143c;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.cookies-info-container .btn {
  background-color: #001d3f;
  margin-top: 15px;
}

.cookies-info-container.show {
  display: block;
}

@media (min-width: 576px) {
  .navigation {
    padding: 25px;
  }
  .logo i {
    font-size: 32px;
  }
  .logo p {
    line-height: 14px;
  }
  .logo-title {
    font-size: 14px;
  }
  .school-title {
    font-size: 18px;
  }
  .header-text {
    font-size: 18px;
  }
  .header-text p {
    font-size: 18px;
  }
  .recruitment {
    padding: 100px 7.5%;
  }
  .recruitment-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .recruitment-btn {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
  .qualified-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .qualified-box {
    margin: 10px;
  }
  .cookies-info-container {
    padding: 25px 100px;
  }
  .cookies-info-container p,
  .cookies-info-container .btn {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  section {
    scroll-margin-top: 82px;
  }
  .header {
    height: calc(100vh - 82px);
  }
  .header-text {
    font-size: 25px;
  }
  .header-text p {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
  .menu-icon-container {
    display: none;
  }
  .nav-items {
    position: relative;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: 0s;
    transition: 0s;
  }
  .nav-item {
    width: 150px;
    height: 100%;
    padding: 0;
    font-weight: bold;
  }
  .nav-item:hover {
    background-color: transparent;
    color: #fff;
  }
  .btn {
    font-size: 16px;
    padding: 10px 25px;
  }
  .recruitment-btn {
    margin-right: 25px;
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-info {
    width: 100%;
    max-width: 350px;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 40px;
  }
  .contact-info p {
    font-size: 14px;
  }
  .contact-form {
    width: 100%;
    margin: 0;
  }
  .contact-form h3 {
    font-size: 24px;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }
  .recruitment-form-container {
    border-radius: 15px;
  }
  .form-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .form-line input {
    width: 90%;
    margin-right: 10px;
  }
}

@media (min-width: 1100px) {
  section {
    padding: 0 12%;
    margin-bottom: 100px;
  }
  .recruitment {
    padding: 100px 12%;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  section {
    padding: 0 15%;
  }
  .recruitment {
    padding: 100px 15%;
  }
}
/*# sourceMappingURL=style.css.map */